<template>
  <div>
    <titulo texto="Professores" :btnVoltar="true" />
    <table>
      <thead>
        <th>Cód</th>
        <th>Nome</th>
        <th>Alunos</th>
      </thead>
      <tbody v-if="professores.length">
        <tr v-for="(item, index) in professores" :key="index">
          <!-- <td>{{index + 1}}</td> -->
          <td class="colPequeno" style="text-align:center; width:15%">{{item.id}}</td>

          <router-link :to="`/alunos/${item.id}`" tag="td" style="cursor:pointer">{{item.nome}}</router-link>
          <td class="colPequeno" style="text-align:center; width:20%">{{item.qtdAlunos}}</td>
        </tr>
      </tbody>
      <tfoot v-else>
        <tr>
          <td colspan="3" style="text-align:center">
            <h5>Nenhum professor encontrado</h5>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import Titulo from "../_shared/Titulo";

export default {
  components: {
    Titulo
  },

  data() {
    return {
      professores: [],
      Alunos: []
    };
  },
  created() {
    this.$http
      .get("http://localhost:5000/api/Alunos")
      .then(res => res.json())
      .then(alunos => {
        this.Alunos = alunos;
        this.carregarProfessores();
      });
  },
  props: {},
  methods: {
    pegarQtdAlunosPorProfessor() {
      this.professores.forEach((professor, index) => {
        professor = {
          id: professor.id,
          nome: professor.nome,
          qtdAlunos: this.Alunos.filter(
            aluno => aluno.professor.id == professor.id
          ).length
        };
        this.professores[index] = professor;
      });
    },
    carregarProfessores() {
      this.$http
        .get("http://localhost:5000/api/Professores")
        .then(res => res.json())
        .then(professor => {
          this.professores = professor;
          this.pegarQtdAlunosPorProfessor();
        });
    }
  }
};
</script>

<style scoped>
</style>