<template>
  <div>
    <titulo
      :texto="professorid != undefined ? 'Professor: ' + professor.nome : 'Todos os Alunos'"
      v-bind:btnVoltar="true"
    />
    <div v-if="professorid != undefined">
      <input type="text" placeholder="Nome do aluno" v-model="nome" @keyup.enter="addaluno()" />
      <button class="btn btnInput" type="submit" @click="addaluno()">Adicionar</button>
    </div>

    <table>
      <thead>
        <th>Mat</th>
        <th>Nome</th>
        <th>Opçoes</th>
      </thead>
      <tbody v-if="alunos.length">
        <tr v-for="(item, index) in alunos" :key="index">
          <!-- <td>{{index + 1}}</td> -->
          <td class="colPequeno">{{item.id}}</td>
          <router-link
            :to="`/alunoDetalhe/${item.id}`"
            tag="td"
            style="cursor:pointer"
          >{{item.nome}} {{item.sobrenome}}</router-link>
          <td class="colPequeno">
            <button class="btn btn_Danger" @click="removerAluno(item)">remover</button>
          </td>
        </tr>
      </tbody>
      <tfoot v-else>
        <tr>
          <td colspan="3" style="text-align:center">
            <h5>Nenhum aluno encontrado</h5>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import Titulo from "../_shared/Titulo";

export default {
  components: {
    Titulo
  },
  data() {
    return {
      title: "Aluno",
      professorid: this.$route.params.prof_id,
      professor: {},
      nome: "",
      alunos: []
    };
  },
  created() {
    if (this.professorid) {
      this.carregarProfessores();
      this.$http
        .get(
          `http://localhost:5000/api/Alunos/ByProfessor/${this.professorid}`
        )
        .then(res => res.json())
        .then(alunos => (this.alunos = alunos));
    } else {
      this.$http
        .get("http://localhost:5000/api/Alunos")
        .then(res => res.json())
        .then(alunos => (this.alunos = alunos));
    }
  },
  props: {},
  methods: {
    addaluno() {
      let _aluno = {
        nome: this.nome,
        sobrenome: "",
        dataNasc:"",
        professorid: this.professor.id
      };

      this.$http
        .post("http://localhost:5000/api/Alunos", _aluno)
        .then(res => res.json())
        .then(alunoRetornado => {
          this.alunos.push(alunoRetornado);
          this.nome = "";
        });
    },
    removerAluno(item) {
      this.$http
        .delete(`http://localhost:5000/api/Alunos/${item.id}`)
        .then(() => {
          let indice = this.alunos.indexOf(item);
          this.alunos.splice(indice, 1);
        });
    },
    carregarProfessores() {
      this.$http
        .get("http://localhost:5000/api/Professores/" + this.professorid)
        .then(res => res.json())
        .then(professor => {
          this.professor = professor;
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
  width: calc(100% - 195px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  color: #687f7f;
  display: inline;
}

.btnInput {
  width: 150px;
  border: 0px;
  padding: 20px;
  font-size: 1.3em;
  display: inline;
  background-color: rgb(116, 115, 115);
}

.btnInput:hover {
  padding: 20px;
  margin: 0px;
  border: 0px;
  border: 0px;
}
</style>
