<template>
  <div v-if="!loading">
    <titulo :texto="`Aluno: ${aluno.nome}`" :btnVoltar="!visualizando">
      <button v-show="visualizando" class="btn btnEditar" @click="editar()">Editar</button>
    </titulo>
    <table>
      <tbody>
        <tr>
          <td class="colPequeno">Matrícula</td>
          <td>
            <label>{{aluno.id}}</label>
          </td>
        </tr>
        <tr>
          <td class="colPequeno">Nome:</td>
          <td>
            <label v-if="visualizando">{{aluno.nome}}</label>
            <input v-else v-model="aluno.nome" type="text" class="inputs" />
          </td>
        </tr>
        <tr>
          <td class="colPequeno">Sobrenome:</td>
          <td>
            <label v-if="visualizando">{{aluno.sobrenome}}</label>
            <input v-else v-model="aluno.sobrenome" type="text" class="inputs" />
          </td>
        </tr>
        <tr>
          <td class="colPequeno">Data nascimento:</td>
          <td>
            <label v-if="visualizando">{{aluno.dataNasc}}</label>
            <input v-else v-model="aluno.dataNasc" type="text" class="inputs" />
          </td>
        </tr>
        <tr>
          <td class="colPequeno">Professor(a):</td>
          <td>
            <label v-if="visualizando">{{aluno.professor.nome}}</label>
            <select v-model="aluno.professor.id" class="inputs" v-else>
              <option v-for="(p, index) in professores" :key="index" v-bind:value="p.id">{{p.nome}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin-top:10px">
      <div v-if="!visualizando">
        <button class="btn btnSalvar" @click="salvar(aluno)">Salvar</button>
        <button class="btn btnCancelar" @click="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</template>



<script>
import Titulo from "../_shared/Titulo";

export default {
  components: {
    Titulo
  },
  data() {
    return {
      professores: [],
      aluno: {
        professor: {}
      },
      idAluno: this.$route.params.idAlunoDetalhe,
      visualizando: true,
      loading: true
    };
  },
  created() {
    this.carregarProfessor();
  },
  methods: {
    carregarProfessor() {
      this.$http
        .get("http://localhost:5000/api/Professores")
        .then(res => res.json())
        .then(professor => {
          this.professores = professor;
          this.carregarAluno();
        });
    },
    carregarAluno() {
      this.$http
        .get(`http://localhost:5000/api/Alunos/${this.idAluno}`)
        .then(res => res.json())
        .then(aluno => {
          this.aluno = aluno;
          this.loading = false;
        });
    },
    editar() {
      this.visualizando = !this.visualizando;
    },
    salvar(_aluno) {
      /*
      [info]
        Possui duas formas, como esta trabalhando com aluno, então ja possui 
        os dados dele, não é obrigado passar novamente, poderia recuparar ele, como por 
        ex :  
        //segunda forma
         let _alunoEditar = {
          id: this.aluno.id,
          nome: this.aluno.nome,
          sobrenome: this.aluno.sobrenome,
          dataNasc: this.aluno.dataNasc,
          professor: this.aluno.professor,
      }
      */

      //segunda forma
      let _alunoEditar = {
        id: _aluno.id,
        nome: _aluno.nome,
        sobrenome: _aluno.sobrenome,
        dataNasc: _aluno.dataNasc,
        professorid: _aluno.professor.id
      };

      this.$http
        .put(`http://localhost:5000/api/Alunos/${_alunoEditar.id}`,_alunoEditar)
          .then(res => res.json())
          .then(aluno => this.aluno = aluno)
          .then(() => this.visualizando = true); 

      this.visualizando = !this.visualizando;
    },
    cancelar() {
      this.visualizando = !this.visualizando;
    }
  }
};
</script>

<style scoped>
.btnEditar {
  float: right;
  background-color: rgb(76, 186, 249);
}

.btnSalvar {
  float: right;
  background-color: rgb(76, 196, 68);
}

.btnCancelar {
  float: right;
  background-color: rgb(249, 186, 92);
  float: left;
}

.colPequeno {
  width: 20px;
}

input,
select {
  margin: 0;
  padding: 5px, 10px;
  font-size: 0, 9em;
  border: 1px solid silver;
  border-radius: 5px;
  font-family: Montserrat;
  width: 95%;
  background-color: rgb(245, 245, 245);
}

select {
  height: 38px;
  width: 100%;
}

.inputs {
  display: inline;
}
</style>