<template>
    <div>
        <titulo texto="Sobre" v-bind:btnVoltar="true"/>  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum excepturi harum voluptas maxime tenetur earum assumenda quibusdam temporibus praesentium officia, ipsam repellat labore nihil optio quas porro, incidunt eos exercitationem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsa vero nam corrupti, esse et debitis labore? Nihil dignissimos facilis laudantium delectus est ducimus voluptatibus error sint alias modi. Itaque?</p>
    </div>
</template>

<script>
import Titulo from '../_shared/Titulo';
    export default {
        components: {
            Titulo,
        },
    }
</script>

<style scoped>

</style>